PackSize_Monkey/PackSizeMonkeyMover/PackSizeMonkeyMover/obj/Debug/App.g.i.cs
PackSize_Monkey/PackSizeMonkeyMover/PackSizeMonkeyMover/bin/Debug/PackSizeMonkeyMover.exe.config
PackSize_Monkey/PackSizeMonkeyMover/PackSizeMonkeyMover/obj/Debug/MainWindow.baml
PackSize_Monkey/PackSizeMonkeyMover/PackSizeMonkeyMover/obj/Debug/App.g.cs
PackSize_Monkey/PackSizeMonkeyMover/PackSizeMonkeyMover/obj/Debug/MainWindow.g.cs
PackSize_Monkey/PackSizeMonkeyMover/PackSizeMonkeyMover/obj/Debug/MainWindow.g.i.cs
PackSize_Monkey/PackSizeMonkeyMover/PackSizeMonkeyMover/obj/Debug/PackSizeMonkeyMover.Properties.Resources.resources
PackSize_Monkey/PackSizeMonkeyMover/PackSizeMonkeyMover/obj/Debug/PackSizeMonkeyMover.g.resources
PackSize_Monkey/PackSizeMonkeyMover/PackSizeMonkeyMover/obj/Debug/PackSizeMonkeyMover_Content.g.i.cs
PackSize_Monkey/PackSizeMonkeyMover/PackSizeMonkeyMover/obj/Debug/PackSizeMonkeyMover.csproj.FileListAbsolute.txt
PackSize_Monkey/PackSizeMonkeyMover/PackSizeMonkeyMover/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
PackSize_Monkey/PackSizeMonkeyMover/PackSizeMonkeyMover/obj/Debug/PackSizeMonkeyMover_MarkupCompile.lref
PackSize_Monkey/PackSizeMonkeyMover/PackSizeMonkeyMover/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
PackSize_Monkey/PackSizeMonkeyMover/PackSizeMonkeyMover/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
PackSize_MonkeyTest/PackSize_MonkeyTest/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
PackSize_MonkeyTest/PackSize_MonkeyTest/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
PackSize_MonkeyTest/PackSize_MonkeyTest/obj/Debug/PackSize_MonkeyTest.csproj.FileListAbsolute.txt
